* {
    font-family: "Raleway", sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

body{
    margin: 0;
    background-color: rgb(34, 48, 67);
    color: white;
}

header {
    background-color: rgb(15, 31, 52);
    color: white;
    width: 100%;
}   

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 10px;
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 20px;
    padding: 20px;
    color: white;
}

.content{
    background-color: rgb(45, 65, 94);
    padding: 20px;
    border-radius: 5px;
    color: white;
}

footer {
    background-color: rgb(15, 31, 52);
    padding: 2px;
    text-align: center;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}